//light mode colors:
$black-logo: #222731;
$royal-blue: #0079FF;
$grey: #697C9A;
$petrol: #4B6A9B;
$dark-grey: #2B3442;
$light: #F6F8FF;
$white: #FEFEFE;

//dark mode colors
$white2: #FFFFFF;
$black: #141D2F;
$dark-blue: #1E2A47;

