@use 'font-sizes' as f;

%flex-column {
	display: flex;
	flex-direction: column;
}

%flex-column-space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

%flex-column-space-evenly {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

%flex-row-space-evenly {
	display: flex;
	justify-content: space-evenly;
}

%flex-row-space-between {
    display: flex;
    justify-content: space-between;
}

%main-boxes-styles{
    background-color: var( --background-2);
    box-shadow: 0 1.6rem 3rem rgba(70, 95, 187, 0.1986);
    border-radius: 1.5rem;
}

%fz-130-line-height-130{
	font-size: f.$fz-130;
	line-height: 130%;
}