@use 'colors' as c;
*,
::after,
::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	font-size: 62.5%;
}

body {
	font-family: 'Space Mono', monospace;
	background-color: c.$light;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 3.1rem 2.4rem 3.9rem;
	max-width: 73rem;
}

.header {
	&__wrapper {
		display: flex;
		justify-content: space-between;
		padding-bottom: 3.6rem;
		min-height: 3.8rem;
		max-width: 73rem;
	}

	&__app-name {
		justify-self: flex-start;
		font-weight: 700;
		font-size: 2.6rem;
		line-height: 3.85rem;
		color: c.$black-logo;
	}
}

.screen-mode {
	min-width: 11rem;
	min-height: 2rem;
	border: 1px solid transparent;
	background-color: c.$light;
	background-image: url('../img/icon-moon.svg');
	background-repeat: no-repeat;
	background-position: 100% calc(100% - 10px);

	&__title {
		// padding: 0 1.6rem;
		color: c.$petrol;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.3rem;
		line-height: 1.93rem;
		letter-spacing: 0.25rem;
		text-align: left;
	}
}

.search,
.user-profile__container {
	box-shadow: 0 1.6rem 3rem rgba(70, 95, 187, 0.1986);
	background-color: c.$white;
	border-radius: 1.5rem;
}
.search {
	margin-bottom: 3.6rem;

	&__icon {
		margin-left: 1.6rem;
		width: 2.5rem;
		height: 2rem;
		background-image: url('../img/icon-search.svg');
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__input {
		display: flex;
		justify-content: space-evenly;
		flex-grow: 2;
		min-height: 2.5rem;
		border: none;
		&::placeholder {
			color: c.$petrol;
			text-align: center;
			font-family: 'Space Mono', monospace;
			font-size: 1.3rem;
			line-height: 2.5rem;
			opacity: 1;
			text-overflow: ellipsis;
		}

		&:focus {
			outline: none;
		}
	}

	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 6rem;
		width: 100%;
	}

	&__button {
		margin-right: 0.7rem;
		width: 8.4rem;
		height: 4.6rem;
		border-radius: 1.5rem;
		color: c.$white2;
		font-size: 1.4rem;
		font-family: 'Space Mono', monospace;
		font-weight: bold;
		line-height: 2.1rem;
		letter-spacing: 0.1rem;
		background-color: c.$royal-blue;
		border: 1px solid transparent;
	}
}

.user-profile{
	
	&__container{
		padding: 3.2rem 2.4rem 4.8rem;
		width: 100%;
		min-height: 51.7rem;
	}
}

.avatar {

		height: 7rem;
		width: 7rem;
		z-index: 5;
		// background-color: rgba(151, 151, 151, 0.2);
		border-radius: 50%;
}

.overview {
	
	&__name{
		color: c.$dark-grey;
		font-size: 1.6rem;
		line-height: 2.37rem;
		font-weight: 700;	
	}

	&__username, 
	&__joined-date {
		font-size: 1.3rem;
		line-height: 1.925rem;
		font-weight: 400;
	}

	&__username{
		color: c.$royal-blue;
		
	}

	&__joined-date{
		color: c.$grey;
	}

	&__bio-text {
		color: c.$petrol;
		font-size: 1.3rem;
		line-height: 130%;
		font-weight: 400;
		text-align: left;
	}
}

.statistics{
	&__container {
		display: flex;
justify-content: space-evenly;
align-items: center;
		min-height: 8.5rem;
	}

	&__title{
		color: c.$petrol;
		font-weight: 400;
		font-size: 1.1rem;
		line-height: 1.629rem;
	}

	&__numbers{
		color: c.$dark-grey;
		font-size: 1.6rem;
		font-weight: bold;
	}
}

.contact{

	&__container{
		display: flex;
		flex-direction: column;
	}

	&__box{
		display: grid;
//tutaj zrobić grida ze względu na zmianę położenia na tablecie 
	}

	&__details{
		padding-left: 1.3rem;
		flex-grow: 2;
	}

}